@font-face { font-family: 'oppoSans'; /*字体名称*/ src: url('../font/OPPOSans-R.ttf'); }
@font-face { font-family: 'simsun'; /*字体名称*/ src: url('../font/STFANGSO.ttf'); }
  
div{
    user-select: none;
}

button {
    position: relative;
    background-color: transparent;
    border: 1px solid #008CBA;
    color: black;
    padding: 1px 4px;
    text-align: center;
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
    text-decoration: none;
    overflow: hidden;
    cursor: pointer;
}

button:after {
    content: "";
    background: #008CBA;
    display: block;
    position: absolute;
    padding-top: 300%;
    padding-left: 350%;
    margin-left: -20px!important;
    margin-top: -120%;
    opacity: 0;
    transition: all 0.8s
}

button:active:after {
    padding: 0;
    margin: 0;
    opacity: 1;
    transition: 0s
}

.headImage{
    position: absolute;
    width:calc(0.270vh*25);
    height:calc(0.270vh*25);
    background-repeat:no-repeat;
    background-position:left top;
    background-size:100%;
    display: flex;
    align-items: center;
    justify-content: center;
}


@keyframes arrowActive{
    0%{color:rgba(255,0,255,1);transform:translateY(0);opacity:0;}
    100%{color:rgba(0,255,0,1);transform:translateY(-15%);opacity:1;}
}

.headImage>:first-child{
    display:none;
    position: absolute;
    width:auto;
    height:auto;
    margin:0 auto;
    font-size:calc(0.270vh*14);
    font-family: 'opposans';
    font-weight: bold;
    bottom:calc(0.270vh*25);
    animation:arrowActive 500ms;
    animation-direction:alternate;
    animation-iteration-count:infinite;
    animation-fill-mode:forwards;
}

.headImage>:nth-child(2){
    position: absolute;
    font-size:calc(0.270vw*4);
    font-family: 'opposans';
    top:calc(0.270vh*25);
}

.headImage>:nth-child(3){
    position: absolute;
    font-size:calc(0.270vw*4);
    font-family: 'opposans';
    bottom:calc(0.270vh*25);
}

.headImage>:nth-child(4){
    position: absolute;
    top:0;
    right:0;
    width: 0;
    height: 0;
    color:white;
    border-top: calc(0.270vh*25*0.6) solid red;
    border-left: calc(0.270vh*25*0.6) solid transparent;
    display: none;
}

.headImage>:nth-child(4)::before{
    position: absolute;
    top:calc(-0.270vh*25*0.6);
    right:0;
    line-height:  calc(0.270vh*25*0.6);
    font-size: calc(0.270vh*25*0.6);
    transform: scale(0.55); 
    transform-origin: 100% 0%;
    font-family: 'opposans';
    content:'胡';
}

.headImageText>:nth-child(1){
    /*position: absolute;*/
    width:fit-content;
    height: fit-content;
    border:1px solid red;
    border-radius: 10%;
    color:red;
    font-size:calc(0.270vw*3);
    font-family: 'opposans';
    /*bottom:calc(0.270vh*25);*/
    /*left:-2vh;*/
}

.southZhuang{
    position: absolute;
    top:0;
    transform:translate(-120%,0%);
}

.headImage_South{
    bottom:12%;
    left:3%;
}

.headImage_West{
    top:3vw;
    left:-4.5vw;
}

.headImage_North{
    top:1vw;
    margin-left:-5vw;
}

.headImage_East{
    top:3vw;
    right:-4.5vw;
}

html,body {
    width: 100vw;
    height: 100vh;
    margin: 0;
    padding: 0;
}

.xingkong{
    background-color:black;
    background-image:
    radial-gradient(white, rgba(255,255,255,.2) 2px, transparent 40px),
    radial-gradient(white, rgba(255,255,255,.15) 1px, transparent 30px),
    radial-gradient(white, rgba(255,255,255,.1) 2px, transparent 40px),
    radial-gradient(rgba(255,255,255,.4), rgba(255,255,255,.1) 2px, transparent 30px);
    background-size: 550px 550px, 350px 350px, 250px 250px, 150px 150px; 
    background-position: 0 0, 40px 60px, 130px 270px, 70px 100px;
}

@keyframes Gradient {
	0% {
		background-position: 0% 50%
	}
	50% {
		background-position: 100% 50%
	}
	100% {
		background-position: 0% 50%
	}
}

.contain{
    background: linear-gradient(-45deg,rgba(255,255,255,1),rgba(245,245,245,1)
    ,rgba(255,255,255,1),rgba(240,248,255,1));/* rgba(238,119,82), rgba(231,60,126), rgba(35,166,213), rgba(35,213,171)*/
    background-size: 400% 400%;
    animation: Gradient 15s ease infinite;
    position: absolute;
    height:100vh;
    width:100vw;
    display: none;
    /*margin:0 auto;*/
}

.roomContain{
    position: absolute;
    left:50%;
    top:50%;
    width:50vh;
    height:50vh;
    transform:translate(-120%,-50%);
}

.RoomOper{
    top:50vh;
    position: absolute;
    display: flex;
    flex-direction: row;
    /*border:1px solid black;*/
    left:0px;
    margin-left: -10px; 
    margin-right: -10px; 
}

.RoomOper button{
 margin:10px;
 /*width:80px;*/
}



.roomList{
    border:1px solid black;
    width:50vh;
    height:50vh;
    display: flex;
    position: absolute;
    left:0px;
    flex-direction: column;
    overflow-y:scroll;
}

.roomList::-webkit-scrollbar {
    width: 3px;/*滚动条整体样式*/  
    height: 1px;/*高宽分别对应横竖滚动条的尺寸*/
}

.roomList::-webkit-scrollbar-thumb {
    border-radius: 10px;/*滚动条里面小方块*/
    box-shadow: inset 0 0 5px rgba(0,0,0,0.2);
    background: #535353;

}

.roomList::-webkit-scrollbar-track {
box-shadow: inset 0 0 5px rgba(0,0,0,0.2);/*滚动条里面轨道*/
border-radius: 10px;
background: #EDEDED;
}

.roomSelect{
    font-size:calc(0.270vw*7);
    font-family: 'opposans';
    margin:0.5vh;
}

.roomSelect:nth-child(odd)
{
    background:#f5f3f3;
}
.roomSelect:nth-child(even)
{
    background:white;
}

.roomSelect.Selected{
    outline:red double 0.4vh;
    /*outline-offset:-1px;*/
    /*background: #ff00009a;
    color:white;*/
}

.table{
    z-index: 6;
    position: absolute;
    border:1px solid black;
    font-size:calc(0.270vw*25);
    width:40vh;
    height:40vh;
    left:50%;
    top:50%;
    display: flex;
    align-items: center;
    justify-content: center;
    transform:translate(50%,-50%);
   /* clip-path: polygon(0 20%, 
    20% 0, 
    80% 0,
    100% 20%,
    100% 80%,
    80% 100%,
    20% 100%,
    0 80%);
    background-color: green;*/
    /*background: 
    linear-gradient(-45deg, transparent 52px, green 0) bottom right,
    linear-gradient(-135deg, transparent 52px, #ffffff 0) top right;
    background-size: 100% 100%;
    background-repeat: no-repeat;*/

}

.table>div{
    /*font-size:calc(0.270vw*4);*/
    width:calc(0.270vh*35);
    height:calc(0.270vh*35);
}

.table>:nth-child(3){
    position:absolute;
    border:1px solid blue;
    margin-bottom:50vh;
    transform:translate(0%,-50%);
}

.table>:nth-child(4){
    position:absolute;
    border:1px solid blue;
    margin-right:50vh;
    transform:translate(-50%,0%);
}

.table>:nth-child(2){
    position:absolute;
    border:1px solid blue;
    margin-left:50vh;
    transform:translate(50%,0%);
}

.table>:nth-child(1){
    position:absolute;
    border:1px solid blue;
    margin-top:50vh;
    transform:translate(0%,50%);
}

.info{
position: absolute;
right:0;
top:0;
display: flex;
align-self: start;
flex-direction: row;
}

.info>div{
    font-size:calc(0.270vw*7);
    font-family: 'opposans';
    margin:10px;
}

.selfInfo{
    display: flex;
    flex-direction: row;
}

.selfInfo>:nth-child(1){
    background-repeat:no-repeat;
    background-position:left top;
    background-size:100%;
    border:1px solid blue;
    width:calc(0.270vh*35);
    height:calc(0.270vh*35);

}

.selfInfo>:nth-child(2){
    font-size:calc(0.270vw*7);
    font-family: 'opposans';
}


.waitHead{
    background-repeat:no-repeat;
    background-position:left top;
    background-size:100%;
    display: none;
    align-items: center;
    justify-content: center;
}

.waitHead>:nth-child(1){
    position: absolute;
    font-size:calc(0.270vw*5);
    font-family: 'opposans';
    top:calc(0.270vh*35);
}

.readyRoom{
    /* border:1px solid blue;*/
     position: absolute;
     height:100vh;
     width:100vw;
     /*margin:0 auto;*/
 }

.cardArea{
    position: absolute;;
    bottom:400px;
    left:150px;
    height:200px;
    /*border: 1px groove #e5e5e5;
    box-shadow: inset 0px 0px 2px 0px black;*/
    border-radius: 2px;
    z-index:2;
}

.testPlayer{
    position: absolute;; 
    bottom:30px;
    left:50%;
    transform:translateX(-50%);
    width:calc(0.270vw*20*15);
    height:calc(0.400vw*20);
    /*border: 1px groove #e5e5e5;
    box-shadow: inset 0px 0px 2px 0px black;*/
    border-radius: 2px;
    z-index:15;
}


@keyframes outDisappear{
    0%{opacity:1;}
    100%{opacity:0;}
}

.animeOut{
    animation:outDisappear 100ms;
    animation-fill-mode:forwards;
}

.otherCard{
    position:absolute;
    /*bottom:0px;*/
    transition:left 1s ease-out; /* Safari */
    width:calc(100px*0.4);
    height:calc(140px*0.4);
    background-size: 100%;
}

.huMsg{
    position:fixed; 
    top:0px;
    left:0px;
    font-weight: normal;
    font-size: 25px;
}

.peng{
    top:0px;
    margin-right:30px;
    width:fit-content;
    font-weight:normal;
    font-size:calc(0.270vw*15);
    color:rgba(255,0,0);
    font-family:'simsun';
    transition:background-color 500ms;
    transition:font-weight 250ms;
    display:none;
}

.peng:hover{
top:0px;
width:fit-content;
background:rgba(115,115,115,0.2);
font-weight:bold;
}


.DqSelect{
    top:0px;
    margin-right:30px;
    width:fit-content;
    font-weight:normal;
    font-size:calc(0.270vw*15);
    color:rgba(0,0,255);
    font-family:'simsun';
    transition:background-color 500ms;
    transition:font-weight 250ms;
    display:inline-block;
}

.DqSelect:hover{
top:0px;
width:fit-content;
background:rgba(115,115,115,0.2);
font-weight:bold;
}

.selectOper{
    position: absolute;
    bottom:calc(0.400vw*20);
    width:auto;
    visibility: hidden;
}

.tip{
    position: absolute;
    width:auto;
    height:auto;
    top:calc(0.400vw*20);
    font-family: 'opposans';
    /*bottom:-20px;*/
}


.ban{
    filter: grayscale(100%);
}

.huSign{
    border:solid 1px lightcoral;
    border-radius: 50%;
    position:absolute;
    z-index:3;
    right:0px;
    bottom:0px;
    color:red;
    height:2vw;
    width:2vw;
    text-align:center;
    line-height: 2vw; 
    font-weight:bold;
    font-size:1.7vw;
    font-family:'黑体';
}


.result{
    display: none;
    border:solid 1px lightcoral;
    background:rgba(255,255,255,0.8);
    position: absolute;
    z-index:13;
    color:black;
    height:auto;
    width:auto;
    margin: 0 auto;
    left:50%;
    top:50%;
    transform:translate(-50%,-50%);
    text-align:center;
    /*font-weight:bold;*/
    font-size:calc(0.270vw*10);
    font-family:'黑体';
}

.discardArea{
    z-index: 6;
    position: absolute;
    left:50%;
    top:50%;
    transform:translate(-50%,-50%);
    display: flex;
    flex-wrap: wrap;
    width:56vw;
    height:auto;
}

.card{
    position:absolute;
    transition:transform 1s linear; /* Safari */
}

.card:hover{
    margin-top:-20px;
}

@media (hover:none){
    .card:hover{
        margin-top:inherit;
    }
}

.standCard{
    width:calc(0.270vw*20.1);
    height:calc(0.400vw*20.1);
    background-repeat:no-repeat,no-repeat;
    background-position:left bottom, left top;
}

.lieCard{
    width:calc(0.270vw*15);
    height:calc(0.400vw*15);
    background-repeat:no-repeat,no-repeat;
    background-position:left top no-repeat,left top;
    transition:none;
    bottom:0;
}


.zc{
    position: absolute;
    width:calc(0.270vh*15);
    height:calc(0.700vh*15);
    background:transparent url('../tile/head/左侧.svg') left top no-repeat;
}


.zc1{
    position: absolute;
    width:calc(0.270vh*15);
    height:calc(0.700vh*15);
    background:transparent url('../tile/head/左侧.svg') left top no-repeat;
    transform:rotateY(180deg);
}

.pt3{
    position: absolute;
    width:calc(0.270vw*13);
    height:calc(0.400vw*13);
    background:url('../tile/head/树立背面.svg') left top no-repeat;
}


.zcpt{
    position: absolute;
    width:calc(0.270vh*22);
    height:calc(0.400vh*22);
    background-repeat:no-repeat,no-repeat;
    background-position:left top no-repeat,left top;
    transform:rotate(-90deg);
    right:0;
}

.zcpt_r{
    position: absolute;
    width:calc(0.270vh*22);
    height:calc(0.400vh*22);
    background-repeat:no-repeat,no-repeat;
    background-position:left top no-repeat,left top;
    transform:rotate(90deg);
}

.zcpt_n{
    position: absolute;
    width:calc(0.270vw*13);
    height:calc(0.400vw*13);
    background-repeat:no-repeat,no-repeat;
    background-position:left top no-repeat,left top;
}

.discardCard{
    width:calc(0.270vh*23);
    height:calc(0.400vh*23);
    background-repeat:no-repeat,no-repeat;
    background-position:left top no-repeat,left top;
    margin-bottom: calc(-0.400vh*1);
    transition:none;
}

.showOtherArea_West{
    z-index:2;
    position: absolute;
    top:3vw;
    left:5vw;
    width:calc(0.270vh*15);
    height:auto;
}

.showOtherArea_North{
    z-index: 2;
    position: absolute;
    top:2vw;
    left:50%;
    transform:translateX(-50%);
    width:calc(0.270vw*13*15);
    height:auto;
}

.showOtherArea_East{
    z-index: 2;
    position: absolute;
    top:3vw;
    right:5vw;
    width:calc(0.270vh*15);
    height:auto;
}

.start{
    position: fixed;
    bottom:0px;
    left:0px;
}


.GameOper{
    position: absolute;
    bottom:0px;
    right:0px;
    display: flex;
    flex-direction: row;
}


.GameOper button{
    margin-left:10px;
}