div{
    user-select: none;
}

.contain{
    position: relative;
    width:360px;
    margin:0 auto;
}

.cardArea{
    position:fixed; 
    bottom:0px;
    left:80px;
    height:200px;
    /*border: 1px groove #e5e5e5;
    box-shadow: inset 0px 0px 2px 0px black;*/
    border-radius: 2px;
    z-index:2;
}

.testPlayer1{
    position:fixed; 
    bottom:0;
    Margin-bottom:200px;
    left:80px;
    height:200px;
    /*border: 1px groove #e5e5e5;
    box-shadow: inset 0px 0px 2px 0px black;*/
    border-radius: 2px;
    z-index:2;
    display:inline-block;
}

.testPlayer2{
    position:fixed; 
    bottom:0;
    Margin-bottom:400px;
    left:80px;
    height:200px;
    /*border: 1px groove #e5e5e5;
    box-shadow: inset 0px 0px 2px 0px black;*/
    border-radius: 2px;
    z-index:2;
    display:inline-block;
}

.card{
    position:absolute;
    /*bottom:0px;*/
    transition:left 1s ease-out; /* Safari */
    width:calc(100px*0.7);
    height:calc(140px*0.7);
    background-size: 100%;
}

@keyframes outDisappear{
    0%{opacity:1;}
    100%{opacity:0;}
}

.animeOut{
    animation:outDisappear 100ms;
    animation-fill-mode:forwards;
}

.otherCard{
    position:absolute;
    /*bottom:0px;*/
    transition:left 1s ease-out; /* Safari */
    width:calc(100px*0.4);
    height:calc(140px*0.4);
    background-size: 100%;
}

.card:hover{
    margin-top:-20px
}

.tong1{background-image:url('../tile/tong/tong_1.svg');}
.tong2{background-image:url('../tile/tong/tong_2.svg');}
.tong3{background-image:url('../tile/tong/tong_3.svg');}
.tong4{background-image:url('../tile/tong/tong_4.svg');}
.tong5{background-image:url('../tile/tong/tong_5.svg');}
.tong6{background-image:url('../tile/tong/tong_6.svg');}
.tong7{background-image:url('../tile/tong/tong_7.svg');}
.tong8{background-image:url('../tile/tong/tong_8.svg');}
.tong9{background-image:url('../tile/tong/tong_9.svg');}
.wan1{background-image:url('../tile/wan/wan_1.svg');}
.wan2{background-image:url('../tile/wan/wan_2.svg');}
.wan3{background-image:url('../tile/wan/wan_3.svg');}
.wan4{background-image:url('../tile/wan/wan_4.svg');}
.wan5{background-image:url('../tile/wan/wan_5.svg');}
.wan6{background-image:url('../tile/wan/wan_6.svg');}
.wan7{background-image:url('../tile/wan/wan_7.svg');}
.wan8{background-image:url('../tile/wan/wan_8.svg');}
.wan9{background-image:url('../tile/wan/wan_9.svg');}
.tiao1{background-image:url('../tile/tiao/tiao_1.svg');}
.tiao2{background-image:url('../tile/tiao/tiao_2.svg');}
.tiao3{background-image:url('../tile/tiao/tiao_3.svg');}
.tiao4{background-image:url('../tile/tiao/tiao_4.svg');}
.tiao5{background-image:url('../tile/tiao/tiao_5.svg');}
.tiao6{background-image:url('../tile/tiao/tiao_6.svg');}
.tiao7{background-image:url('../tile/tiao/tiao_7.svg');}
.tiao8{background-image:url('../tile/tiao/tiao_8.svg');}
.tiao9{background-image:url('../tile/tiao/tiao_9.svg');}

.huMsg{
    position:fixed; 
    top:0px;
    left:0px;
    font-weight: normal;
    font-size: 25px;
}

.peng{
    top:0px;
    width:fit-content;
    font-weight:normal;
    font-size:50px;
    color:rgba(255,0,0);
    font-family:'宋体';
    transition:background-color 500ms;
    transition:font-weight 250ms;
    display:inline-block;
}

.peng:hover{
top:0px;
width:fit-content;
background:rgba(115,115,115,0.2);
font-weight:bold;
}

.selectOper{
    position: absolute;
    top:-50px;
    width:300px;
    visibility: hidden;
}

.tip{
    position: absolute;
    width:300px;
    top:100px;
}

.standCard{
    position:absolute;
    width:calc(270px);
    height:calc(350px + 30px);
    transform-origin: 0% 0%;
    transform: scale(0.27,0.27);
    transition:left 1s ease-out; /* Safari */
}

.standCard:hover{
    filter: contrast(200%);
    margin-top:-20px
}

.ban{
    filter: grayscale(100%);
}

.standCard>div{
    border:solid 1px black;
    border-radius: 10%;
    width:calc(270px);
    height:calc(350px);
    position: absolute;
}

.standCard div:first-child{
    z-index:1;
    bottom:30px;
    background:limegreen top no-repeat;
    background-size:cover;
}

.standCard div:nth-child(2){
    z-index:2;
    bottom:10px;
    background:white top no-repeat;
    background-size:cover;
}

.standCard div:nth-child(3){
    z-index:3;
    bottom:0px;
    background-color:white;
    background-size:cover;
}


.lieCard{
    position: absolute;
    width:calc(270px);
    height:calc(350px + 30px);
    transform-origin: 0% 0%;
    transform: scale(0.17,0.17);
}

.lieCard>div{
    border:solid 1px black;
    border-radius: 10%;
    width:calc(270px);
    height:calc(350px);
    position: absolute;
}

.lieCard div:first-child{
    z-index:1;
    bottom:0px;
    background:limegreen top no-repeat;
    background-size:cover;
}

.lieCard div:nth-child(2){
    z-index:2;
    bottom:20px;
    background:white top no-repeat;
    background-size:cover;
}

.lieCard div:nth-child(3){
    z-index:3;
    bottom:30px;
    background-color:white;
    background-size:cover;
}
